@model Contact

@{
    ViewData["Title"] = "Create Contact";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>
    <hr />

    <div class="row">
        <div class="col-md-6">
            <form asp-action="Create" method="post">
                <h4>Personal Information</h4>
                <hr />
                <div class="form-group mb-2">
                    <label asp-for="FirstName">First Name:</label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="LastName">Last Name:</label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="City">City:</label>
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="Prefecture">Prefecture:</label>
                    <input asp-for="Prefecture" class="form-control" />
                    <span asp-validation-for="Prefecture" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="PostalCode">Postal Code:</label>
                    <input asp-for="PostalCode" class="form-control" />
                    <span asp-validation-for="PostalCode" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="DateOfBirth">Date of Birth:</label>
                    <input asp-for="DateOfBirth" type="date" class="form-control" />
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="MobileNumber">Mobile Number:</label>
                    <input asp-for="MobileNumber" class="form-control" />
                    <span asp-validation-for="MobileNumber" class="text-danger"></span>
                </div> 
                <div class="d-flex justify-content-between">
                    <h4>Emails</h4>
                    <button type="button" id="add-email" style="width: 35px" class="btn btn-outline-primary mb-1 ms-2 form-control">+</button>
                </div>
                <hr />
                    <div class="form-group">
                    <div id="emails-container">
                        <input name="Emails[0].EmailAddress" class="form-control mb-1" />
                        </div>                                   
                    </div>

                <button type="submit" style="width: 150px" class="btn btn-success mt-2">Δημιουργία</button>
            </form>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $('#add-email').click(function () {
                var index = $('#emails-container').children().length;
                var input = '<input name="Emails[' + index + '].EmailAddress" class="form-control mb-1" />';
                $('#emails-container').append(input);
            });
        });
    </script>
}
